<!doctype html>
<html>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="../js/d3.layout.cloud.js"></script>
<script type="text/javascript" src="../js/async.min.js"></script>
<head>
  <title>Contact Center Analytics</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href='../css/source_sans_pro.css' rel='stylesheet' type='text/css'>
  <link href='../css/open_sans.css' rel='stylesheet' type='text/css'>
  <script src="/bower_components/jqcloud2/dist/jqcloud.min.js"></script>
  <link rel="stylesheet" href="/bower_components/jqcloud2/dist/jqcloud.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css"></style>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><b>CALL</b> ANALYTICS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">All calls</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://havenondemand.com" target="_blank">Powered by&nbsp;       <img alt="Brand" src="img/hpe_hod.png" height="30"></a></li>
    </ul>
  </div>
</nav>

<section id='content'>
  <!-- Make call -->
  <div class="row">
    <div class="col-xs-12">
      <form action="/makeCall" method="POST" class="form-inline">
        <div class="form-group">
          <label for="phonenumber">Enter your phone number to receive a call</label>
          <input type="text" class="form-control" name="phonenumber" placeholder="+15556667777" id=phonenumber>
        </div>
        <button type="submit" class="btn btn-call" id="call">Call me!</button>
      </form>
    </div>
  </div>
  <!-- / Make a call -->
  <div class="row">
    <div class="col-xs-12">
      <h1>About this app</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>Overview</h2>
      <p>
        Haven OnDemand offers advanced machine learning APIs for developers to connect, extract, index, analyze, and predict data. Combining these powerful APIs with Twilio's telephone calling services, businesses can extract key insights and metrics from call center recordings to better drive business strategy, marketing, and sales.
      </p>
      <h2>How to use</h2>
      <ol>
        <li>Input your telephone number with the full country code and area code (i.e. <b>+15556667777</b> don't forget the '+').</li>
        <li>You will the receive a call. Answer your phone.</li>
        <li>The automated system will prompt you with a question. Answer the question. Remember to answer for at least 20 seconds for the best results!</li>
        <li>Reload the page and your call will be added to the list. You can listen to the call recording.</li>
        <li>Choose whatever entities you wish to extract from the call, click the language of the call, and click 'Analyze'.</li>
        <li>The app will then transcribe the text from the call recording, analyze the sentiment of the call, extract the main concepts from the call, extract any entities you specified, and add all of this to a Haven OnDemand Index.</li>
        <li>Once it's done processing, click on the link for the analyzed call.</li>
        <li>You can now look at the analytics from the call extracted using Haven OnDemand's machine learning APIs.</li>
        <li>The main menu has a list of all of the calls made. From here, you can search through all of the calls using the search bar on the top and find similar calls of another call using the 'Find Similar' button next to a call, powered by Haven OnDemand's Query Text Index API and Find Similar API.</li>
      </ol>
      <h2>Technologies used</h2>
      <ul>
        <li><a href='https://dev.havenondemand.com/apis/recognizespeech' target='_blank'>Haven OnDemand's Speech Recogntion API</li>
        <li><a href='https://dev.havenondemand.com/apis/analyzesentiment' target='_blank'>Haven OnDemand's Sentiment Analysis API</li>
        <li><a href='https://dev.havenondemand.com/apis/extractconcepts' target='_blank'>Haven OnDemand's Concept Extraction API</li>
        <li><a href='https://dev.havenondemand.com/apis/extractentities' target='_blank'>Haven OnDemand's Entity Extraction API</li>
        <li><a href='https://dev.havenondemand.com/apis/createtextindex' target='_blank'>Haven OnDemand's Create Text Index API</li>
        <li><a href='https://dev.havenondemand.com/apis/addtotextindex' target='_blank'>Haven OnDemand's Add to Text Index API</li>
        <li><a href='https://dev.havenondemand.com/apis/querytextindex' target='_blank'>Haven OnDemand's Query Text Index API</li>
        <li><a href='https://dev.havenondemand.com/apis/findsimilar' target='_blank'>Haven OnDemand's Find Similar API</li>
        <li><a href='https://nodejs.org/en/' target='_blank'>Node.js</li>
        <li><a href='http://mistic100.github.io/jQCloud/' target='_blank'>jQCloud</li>
        <li><a href='https://www.mongodb.com/' target='_blank'>MongoDB</li>
        <li><a href='https://www.twilio.com/' target='_blank'>Twilio</li>
      </ul>
    </div>
  </div>
</section>
