<!doctype html>
<html>
<head>
  <title>Twilio Call Center</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>

<div class="row">
  <div class="col-xs-12 text-center">
    <p>
      Enter your phone number to receive a call
    </p>
  </div>
</div>

<form action="/makeCall" method="POST">
  <div class="form-group">
    <label for="phonenumber">Phone number</label>
    <input type="text" name="phonenumber" placeholder="+15165557777" id=phonenumber>
  </div>
  <button type="submit" class="btn btn-default" id="call">Sign in</button>
</form>

</body>
<script>
$(window).load(function() {

  // $('#call').click(function() {
  //   var phoneNumber =document.getElementById("phonenumber").value;
  //   $.ajax({
  //     url: "/makeCall?phoneNumber="+phoneNumber,
  //     type: 'GET',
  //       success: function(res) {
  //         console.log(res);
  //       }
  //   });
  // });

});

</script>
</html>
