<!doctype html>
<html>
<head>
  <title>Twilio Call Center</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>

</body>
</html>
