<!doctype html>
<html>
<head>
  <title>Twilio Call Center</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>

<div class="row">
  <div class="col-xs-12 text-center">
    <p>
      Enter your phone number to receive a call
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <input type="text" name="phonenumber">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <button type="submit" class="btn btn-default call">Sign in</button>
  </div>
</div>

</body>
<script>
$(window).load(function() {

  $('.call').click(function() {
      $.ajax({
      url: "/makeCall",
      type: 'GET',
      success: function(res) {
        console.log(res);
       }
     });
   });

});

</script>
</html>
