body {
  font-family: Source Sans Pro,Arial,sans-serif;
  background-color: #425563;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

.transcription-text, .confidence, .language {
  color: black;
}

input, select, textarea{
    color: black;
}

.search {
  width: 200px;
}
/* Navbar stuff*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
   a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #01a982; /*BACKGROUND color for active*/
  background-color: #01a982;
}

.navbar-default {
  background-color: #01a982;
  border-color: #030033;
}

.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
  color: #262626;
 text-decoration: none;
background-color: #66CCFF;  /*change color of links in drop down here*/
 }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
 color: #01a982; /*Change active text color here*/
  }
/* / Navbar stuff*/
a {
  color: #ff8d6d;
}

.anchor, .anchor:visited, a, a:visited {
  color: #ff8d6d;
}
